* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-color: #46378b;
    padding: 20px 60px;
}

h1 {
    font-size: 30px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 60px;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(253, 252, 252);
    font-weight: bold;
}

.menu {
    font-size: 10px;
    margin: auto;
    font-family: Courier;
    border: 8px;
    border-color: rgb(8, 8, 8);
    border-style: solid;
    width: 600px;
    height: 600px;
    background: rgb(139, 139, 130);
}